*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
ContactManager/.idea/
StudentRegistration/.idea/
BindingDemo1/.idea/
BindingDemo2/.idea/
TwoWayDemo/.idea/
EBookShop/.idea/
CountriesApp/.idea/
